/* Global Styles */
/* common.css */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.padding-top {
  padding-top: var(--spacing); }

.padding-bottom {
  padding-bottom: var(--spacing); }

.padding-horizontal {
  padding-left: var(--spacing);
  padding-right: var(--spacing); }

.padding-vertical {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing); }

/* ... other common classes ... */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0; }

body {
  overflow-x: hidden;
  padding: 0 1rem; }

/* Header Section */
.header {
  max-width: 100vw;
  background: #fff;
  font-size: 1.9rem;
  border-bottom: 0.3rem solid #707070;
  padding: 3.3rem 0 1rem 0;
  position: relative; }
  .header_container {
    width: inherit;
    flex-direction: column; }
    .header_container-logo {
      height: 4.8rem;
      width: 16.4rem;
      margin-left: 3rem; }
    .header_container-nav-list-item {
      font-size: 1.9rem;
      font-weight: 600; }
      .header_container-nav-list-item-select {
        font-size: 1.9rem;
        font-weight: 600;
        outline: none;
        border: none;
        cursor: pointer; }
    .header_container-responsive-container {
      height: auto;
      background: #fff;
      display: none;
      box-shadow: 0px 3px 6px #00000029; }
      .header_container-responsive-container-btn svg {
        height: 4.1rem;
        width: 5.1rem;
        cursor: pointer;
        align-self: baseline;
        border-radius: 1.2rem; }
      .header_container-responsive-container-nav-list {
        width: 100vw;
        width: 100%;
        background: #fff;
        height: max-content;
        list-style: none;
        position: absolute;
        top: 4.5vh;
        left: 0;
        z-index: 9999;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029; }
        .header_container-responsive-container-nav-list li {
          width: 100%;
          padding: 1rem;
          margin: 0.5rem 0;
          text-align: center; }
          .header_container-responsive-container-nav-list li:nth-child(3), .header_container-responsive-container-nav-list li:nth-child(4) {
            margin-left: 1.4rem; }
          .header_container-responsive-container-nav-list li:hover {
            background-color: #7070701b; }

/* Artboard Section */
.artboard {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .artboard-cover {
    width: 100%;
    position: absolute;
    bottom: -10rem;
    left: 0; }
  .artboard-info {
    flex: 0 0 40%;
    height: max-content; }
    .artboard-info-heading {
      font-size: 4rem;
      text-align: left;
      font-weight: 900;
      line-height: 1.3; }
    .artboard-info-para {
      font-size: 1.8rem;
      text-align: left;
      padding-right: 6.5rem;
      font-weight: normal; }
    .artboard-info-btn {
      margin-top: 6rem; }
  .artboard-image {
    flex: 0 0 30%; }

/* Cards Section */
.cards-section {
  width: 100%;
  height: max-content;
  background: #f8fafc; }
  .cards-section_upper-heading {
    padding-top: 17rem; }
  .cards-section_lower-headings {
    padding-top: 20rem; }
  .cards-section_cards {
    width: 100%;
    gap: 5rem; }
    .cards-section_cards-card {
      width: 30.8rem;
      height: 32rem;
      background: #fff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 18px;
      padding: 3.8rem 1rem;
      margin-top: 7rem; }
      .cards-section_cards-card-heading {
        background: #fff; }
      .cards-section_cards-card-info {
        margin-top: 1.8rem; }

/* Images Card Section */
.images-card-section {
  width: 100%;
  height: auto;
  background-image: url("../images/wave lower.svg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 6rem; }
  .images-card-section-card {
    width: 32.8rem;
    height: 16.8rem;
    margin-top: 20rem;
    padding: 0 0.2rem; }
    .images-card-section-card-img {
      width: 18.5rem;
      height: 17.1rem; }
    .images-card-section-card-heading {
      text-align: start !important;
      padding: 2rem 0 !important; }
    .images-card-section-card-info {
      text-align: start !important; }

/* Primary Button */
.primary-btn {
  width: 24.7rem;
  height: 6.5rem;
  color: #fff;
  background-color: #1492e6;
  font-size: 2.3rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10rem;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 999; }

/* Zigzag Card Container */
.zigzag-card_container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  gap: 3rem; }
  .zigzag-card_container-heading {
    padding: 45rem 0 10rem 0; }
  .zigzag-card_container-left-card, .zigzag-card_container-right-card {
    width: 64.4rem;
    align-self: flex-start;
    gap: 2.3rem; }
    .zigzag-card_container-left-card-header-img, .zigzag-card_container-right-card-header-img {
      height: 7rem;
      width: 7rem; }
    .zigzag-card_container-left-card-header-text, .zigzag-card_container-right-card-header-text {
      font-size: 2.4rem;
      font-weight: bold; }
    .zigzag-card_container-left-card-info, .zigzag-card_container-right-card-info {
      font-size: 2.1rem;
      font-weight: normal; }
  .zigzag-card_container-right-card {
    width: 47.1rem;
    align-self: flex-end; }

/* Lorem Heading */
.lorem-heading {
  padding: 15rem 0 6rem 0; }

/* Lorem Slider */
.lorem-slider {
  width: 109.7rem;
  height: 36.3rem;
  margin: 0 auto;
  background: #f8fafc;
  box-shadow: 0px 16px 48px #00000029;
  border-radius: 42px;
  padding: 4.5rem;
  position: relative; }
  .lorem-slider-header-img {
    width: 6.3rem;
    height: 6.3rem; }
  .lorem-slider-header-heading {
    font-size: 2.5rem;
    font-weight: 900; }
  .lorem-slider-next-btn {
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: 0px 7px 17px #00000029;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    position: absolute;
    bottom: 7rem;
    right: 0;
    transform: translateX(50%);
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: #707070; }
  .lorem-slider-cards {
    transform: translateY(15%); }
    .lorem-slider-cards-card {
      position: relative;
      width: 28.5rem;
      height: 26.3rem;
      background: white;
      box-shadow: 0px 16px 48px #00000029;
      border-radius: 3rem;
      padding: 3rem; }
      .lorem-slider-cards-card-header-img {
        height: 4.3rem;
        width: 4.3rem;
        border-radius: 50%; }
      .lorem-slider-cards-card-header-info-name, .lorem-slider-cards-card-header-designation-name {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0; }
      .lorem-slider-cards-card-header-info-designation, .lorem-slider-cards-card-header-designation-designation {
        width: fit-content;
        height: auto;
        position: absolute;
        top: 5rem;
        left: 8rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: #615c5c; }
      .lorem-slider-cards-card-header-rating {
        margin-left: auto; }
        .lorem-slider-cards-card-header-rating-rate {
          height: 1.5rem;
          width: 1.5rem; }
      .lorem-slider-cards-card-text {
        font-size: 1.3rem;
        letter-spacing: 0; }

/* Banner Section */
.banner {
  padding: 13rem 0;
  gap: 15rem; }
  .banner-heading {
    padding: 20rem 0 15rem 0; }
  .banner-container {
    padding-bottom: 5rem;
    gap: 15rem; }
    .banner-container-cards {
      width: 200px; }
      .banner-container-cards-img {
        width: 185px;
        height: 58px; }
      .banner-container-cards-heading {
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0; }

/* Footer Section */
.footer {
  padding: 32.5rem 0 4.5rem 0;
  font-size: 1.8rem;
  border: 0.1rem solid #707070; }

/* Miscellaneous */
.secondary-heading {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center; }

.card-header {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  background-color: white !important;
  border-bottom: none !important; }

.paragraph {
  font-size: 1.8rem;
  font-weight: normal; }

.hidden {
  display: none; }

@media screen and (max-width: 1400px) {
  html {
    font-size: 9px; } }

@media screen and (max-width: 1255px) {
  html {
    font-size: 8px; } }

@media screen and (max-width: 1115px) {
  html {
    font-size: 7px; } }

@media screen and (max-width: 980px) {
  html {
    font-size: 6px; }
  .header #nav-list {
    display: none !important; }
  .header_container {
    flex-direction: row; }
    .header_container-logo {
      margin-left: 5%; }
    .header_container-responsive-container {
      display: block;
      margin-right: 5%; } }

@media screen and (max-width: 790px) {
  html {
    font-size: 8px; }
  .artboard {
    width: 100%;
    margin: 0 auto;
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 5rem; }
    .artboard-cover {
      bottom: -6rem; }
    .artboard-info {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 2rem 2rem; }
      .artboard-info-heading {
        text-align: center;
        padding-top: 2rem; }
      .artboard-info-para {
        text-align: center; }
      .artboard-info-btn {
        margin-left: 30%; }
    .artboard-image {
      flex: 0 0 60%;
      box-shadow: 0px 0px 2px #00000029; }
  .cards-section_cards {
    width: 100%;
    gap: 5rem;
    flex-direction: column; }
    .cards-section_cards-card {
      width: 60%;
      padding: 1rem; }
      .cards-section_cards-card-heading {
        text-align: center; }
      .cards-section_cards-card-info {
        text-align: center;
        line-height: 2; }
  /* Images Card Section */
  .images-card-section {
    flex-direction: column;
    gap: 10rem; }
    .images-card-section-card {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  /* Zigzag Card Container */
  .zigzag-card_container {
    gap: 10rem; }
    .zigzag-card_container-heading {
      padding: 45rem 0 10rem 0; }
    .zigzag-card_container-left-card, .zigzag-card_container-right-card {
      margin-left: 10%;
      align-self: flex-start; }
      .zigzag-card_container-left-card-header, .zigzag-card_container-right-card-header {
        margin-left: 20%; }
        .zigzag-card_container-left-card-header-text, .zigzag-card_container-right-card-header-text {
          text-align: center; }
      .zigzag-card_container-left-card-info, .zigzag-card_container-right-card-info {
        text-align: center; }
      .zigzag-card_container-left-card-btn, .zigzag-card_container-right-card-btn {
        margin-left: 25%; }
    .zigzag-card_container-right-card {
      margin-left: 15%; }
  .lorem-slider {
    display: none !important; }
  .lorem-heading {
    display: none; }
  .banner-heading {
    padding: 20rem 0 15rem 0; }
  .banner-container {
    flex-direction: column;
    padding-bottom: 5rem;
    gap: 15rem; }
    .banner-container-cards-heading {
      font-size: 2.4rem; } }

@media screen and (max-width: 390px) {
  html {
    font-size: 6px; }
  .artboard-cover {
    bottom: 0rem; }
  .artboard-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 2rem; }
    .artboard-info-heading {
      font-size: 2.4rem; }
    .artboard-info-para {
      font-size: 1.6rem; }
  .cards-section_cards {
    gap: 1rem; }
    .cards-section_cards-card {
      width: 60%;
      padding: 0 1.4rem; }
      .cards-section_cards-card-info {
        font-size: 1.6rem; }
  /* Images Card Section */
  .images-card-section {
    gap: 6rem; }
  /* Zigzag Card Container */
  .zigzag-card_container {
    gap: 10rem; }
    .zigzag-card_container-heading {
      padding: 25rem 0 0 0;
      font-size: 2.4rem; }
    .zigzag-card_container-left-card, .zigzag-card_container-right-card {
      width: 100%;
      margin-left: 5%; }
      .zigzag-card_container-left-card-header, .zigzag-card_container-right-card-header {
        margin-left: 10%; }
      .zigzag-card_container-left-card-info, .zigzag-card_container-right-card-info {
        font-size: 1.6rem; }
      .zigzag-card_container-left-card-btn, .zigzag-card_container-right-card-btn {
        margin-left: 25%; }
    .zigzag-card_container-right-card {
      margin-left: 5%; }
  .banner-heading {
    padding: 10rem 3rem 5rem 3rem;
    font-size: 2.4rem; }
  .banner-container {
    flex-direction: column;
    padding-bottom: 3rem;
    gap: 10rem; }
    .banner-container-cards-heading {
      font-size: 2.4rem; }
  .header_container-responsive-container-nav-list {
    top: 9.5rem; } }
