// HEADER
$totalWidth: 100vw;
$nav-background: #fff;
$header-primary-border: #707070;

// COLOR
$primary-white: #fff;

// Shadow Color
$primary-shadow: #00000029;

// Background color
$primary-background: #7070701b;
$secondary-background: #f8fafc;
$thirsary-background: #f8fafc;
$primary-sky: #1492e6;

// text color
$primary-text-color: #707070;
$secondary-text-color: #615c5c;
